
#box1{
	border-color: blue;
	border-width: 5 5 5 5px;
	border-style: solid;
	padding: 20px;
	background-color: yellow;
	/*width: 50%;*/
	float: left;
}

#box2{
	border-color: red;
	border-width: 5 5 5 5px;
	border-style: solid;
	padding: 20px;
	background-color: orange;
	float:left;
}

#box3{
	border-color: green;
	border-width: 5 5 5 5px;
	border-style: solid;
	padding: 20px;
	background-color: blue;
	float: left;
}

.container{
	float: left;
	border-style: solid;
	border-color: purple;
	border-width: 10 10 10 10px;	
	/*height: 100px;*/
}

.clearfix::after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: auto;
}